@import 'config';
@import 'contenido';




    .nav{
        height: 100vh;
        width: 100vw;
        overflow-y: hidden;
        z-index: 2;
        position: absolute;
        @include flex(center,flex-end,column);
    
        .toggleBoton{
            color:$navText;
            position: absolute;
            background: $primarioC;
            position: fixed;
            right: 0;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            right:2rem;
            top: 1rem;
            @include flex(center,center,column);
            cursor: pointer;
            z-index: 100;
            transition: .4s;
            font-size: 1.5rem;            
            
        }
        
        &_items{
            @include flex(flex-start,center,column);
            list-style: none;
            
            &_item{
                text-align: center;
                color:$navText;                
                font-family: $fuenteTitulo;                
                border-radius: 50%;
                width: 100%;
                opacity: 0;
                

                h2{
                    font-size: 0;
                    
                }
                
            }
    
            .subItems{
                display: none;
            }
    
        }       
    }
    
    .navShow{
        background-color: lighten($primarioC,10);

        .toggleBoton{
           
                
                width: 100vw;
                height: 100vh;
                background: #252525;
                z-index: 0;
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                opacity: .3;
                transition: .4s;
                border-radius: 0;
                i{
                    position: fixed;
                    right: 0;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    right:2rem;
                    top: 1rem;
                    @include flex(center,center,column);
                    cursor: pointer;
                    z-index: 100;
                }
            
        }
        .nav_items_item{            
            text-align: center;
            width: 100%;
            margin: .5rem 0;            
            border-radius: 20px;
            padding: 20px; 
            height: 56px;
            width: 140px;  
            background: $colorItems;         
           @include flex(center,center,column);
            transform: translateX(calc(-50vw + 70px));
            opacity: 1;
            transition: transform .5s, opacity 1s;
            transition-delay: .1s;
            transition-timing-function: ease-out;

            h2{
               
                text-align: center;
                padding: 0;
                //transition: 1s;
                font-size: 1rem;
                padding: 1rem;
            }
            .contenido{
                display: none;
            }
           
        }

       .nav_items{
        
        @include flex(center,center,column);
        
       }   
    }
    
    .punto{
        display: none;;

    }

    .itemContenedor{        
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: silver; 
        right: 0;    
        @include contenido;
        z-index: -1;
        transition: .5s;
        top: 0;
        right: 0;
        overflow: hidden;
        transition-timing-function: ease-in;
        transition-delay: .2s;
        
        h2{ 
            position: absolute;
            top: -1rem;
            left: -0rem;
            font-family: $fuenteTitulo;           
            font-size: 3rem;
            color: $tituloColor;
            padding: 1rem 2rem;
            margin: 3rem 0;
            transition: .5s;
            transition-delay: .2s;
        }
    }
    @include media-md {

    .nav{
        @include flex(flex-start,flex-end,column);
        
        .toggleBoton{
            display: none;
        }
        &_items{
            @include flex(flex-start,center,row);
            margin: 1rem 2rem;
            &_item{
                display: block;
                opacity: 1;
                position: relative;
                margin: 0 .5rem;
                background-color: $colorItems;
                padding: .5rem;
                border-radius: 10px;
                transition: all .5s;
                
                h2{
                    display: block;
                    font-size: 1.5rem;
                }
            }

            
        }


    }

    .itemContenedor{
        animation:cambioPage 1s;
        animation-timing-function: ease-in;
    }

    
}

@keyframes cambioPage{
   0%{
    top: 0vh;
    right: 0vw;
    width: 100px;
    height: 100px;
    border-radius: 50%;
   }
   
   
   
    40%{
        top: 50vh;
        right: 50vw;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    70%{
        top: 50vh;
        right: 50vw;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    100%{
        top: 0;
        right: 0;
    }
}

  

    .off{
        display: none;
    }

