@import 'config';
@import 'contenido';




@include media-md{
    .nav{
        height: 100vh;
        width: 100vw;
        overflow-y: hidden;
        z-index: 2;
        position: absolute;
        @include flex(center,center,column);
    
        .toggleBoton{
            color:$navText;
            position: absolute;
            background: $primarioC;
            position: fixed;
            right: 0;
            width: 100px;
            height: 50px;
            border-radius: 50%;
            right:2rem;
            top: 1rem;
            @include flex(center,center,column);
            cursor: pointer;
            z-index: 100;
            
        }
        
        &_items{
            @include flex(center,flex-end,column);
            list-style: none;
            
            &_item{
                color:$navText;                
                font-family: $fuenteTitulo;
                top: calc(-0vh + 56px + 28px + 1rem);
                right: calc(-0vw + 12px + 28px + 2rem);
                border-radius: 50%;
                transition: 1s; 
                

                h2{
                    font-size: 0;
                    transition: 1s;
                }
                
            }
    
            .subItems{
                display: none;
            }
    
        }       
    }
    
    .navShow{
        background-color: lighten($primarioC,10);
      /*  height: 100vh;
        width: 100vw;
        overflow-y: hidden;
        z-index: 2;
        position: absolute;
        @include flex(center,center,column);*/
        
        
        
        

        .nav_items_item{            
            text-align: center;
            width: 100%;
           // margin: .5rem;
            //background: tomato;
            border-radius: 20px;
            padding: 20px;            
           // top: calc(-50vh + 56px + 28px + 1rem);
            //right: calc(-50vw + 12px + 28px + 2rem);
            // border-radius: 50%;
            height: 56px;
            position: absolute;
            width: 140px;           
           @include flex(center,center,column);
            transition: 1s; 
            transition-timing-function: ease-out;
            
            h2{
               
                text-align: center;
                padding: 0;
                transition: 1s;
                font-size: 1rem;
            }
            .contenido{
                display: none;
            }
        }

       .nav_items{
        
           
        @for $i from 1 to $opciones {
            &_item:nth-child(#{$i}){                
                background-color: red;
                top: calc(30vh + #{$disOpc}px - 90px * #{$i} + 28px + 1rem);
                right: calc(50% - 70px); 
            }
        }
       }
        
        
    }
    



    .itemContenedor{        
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: silver; 
        right: 0;    
        @include contenido;
        z-index: -1;
        transition: 1s;
        
        h2{ 
            position: absolute;
            top: -1rem;
            left: -0rem;
            font-family: $fuenteTitulo;           
            font-size: 3rem;
            color: $tituloColor;
            padding: 0 2rem;
            margin: 3rem 0;
        }
    }
}


@keyframes movilMovimiento{
    0%{
        
                position: absolute;
                top: 1rem;
                right: 2rem;
                width: 30px;                
                height: 30px;
                border-radius: 50%;

                
    }

    80%{
       
                position: relative;
                top: 0rem;
                right: 0rem;
                width: 30px;                
                height: 30px;
                border-radius: 50%;

           
        
    }
    100%{

    }
}


.off{
    display: none;
}